<div id="question" class="border-left px-3 mb-3">
  <%= @question %>
  <p class="font-italic"> -You</p>
</div>

<div id="answer" class="border-left px-3 mb-3">
  <%= @answer %>
  <p class="font-italic"> -Your coach</p>
</div>

<%= link_to "Ask new question", ask_path %>
